.product-card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border: 1px solid var(--gray-regular);
  border-radius: 8px;
}
.product-card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 4px;
  margin-bottom: 8px;
}
.product-card-img-picture {
  width: 100%;
  height: 68px;
  border-radius: 4px;
}
.product-card-sale {
  position: absolute;
  top: 8px;
  right: 8px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--white);
  padding: 1.5px 2.5px 0.5px;
  border-radius: 18px;
}
.product-card-sale-yollow {
  background-color: var(--yollow);
}
.product-card-sale-blue {
  background-color: var(--aqua);
}
.product-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 7px 7px 7px;
}
.product-card-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 4px;
}
.product-card-information-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-card-information-item:not(:last-child) {
  margin-right: 9px;
}
.product-card-information-item-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 4px;
}
.product-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 7px;
}
.product-card-price {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--text-color);
  font-weight: 500;
}
.product-card-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.product-card-btn-wrapper {
  position: relative;
}
.product-card-btn-red {
  background-color: var(--red);
  background-image: url(../img/shopping-bag-02.svg);
  background-position: 6px 5.5px;
}
.product-card-btn-yollow {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-color: var(--yollow);
  background-image: url(../img/trash-01.svg);
  background-position: 6px 6px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.product-card-btn-wrapper.active-yollow .product-card-btn-yollow {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/*# sourceMappingURL=product-card.css.map */